* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    /* overflow: hidden; */
    grid-template-columns: minmax(494px, calc(50% - 50px)) 100px minmax(494px, calc(50% - 50px));
    grid-template-rows: minmax(671px, 100vh) minmax(670px, 70vh) minmax(720px, 80vh) 10vh;
    grid-template-areas:
        "celebrate arrow landing"
        "photo arrow about"
        "location arrow landscapePhoto"
        "nada MTK nada2";
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#text-one{
    grid-area: celebrate;
    align-items: center;
    vertical-align: middle;
    min-width: 500px;
}

.arrow{
    grid-area: arrow;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1105px) {
    .arrow{
        right: 50%;
    }
}

#landing{
    grid-area: landing;
}

#text-two{
    grid-area: about;
}

#nathan-eumi{
    grid-area: photo;
}

#text-three{
    grid-area: location;
}

#venue{
    grid-area: landscapePhoto;
}

#footer-text{
    grid-area: MTK;
    align-items: center;
    justify-items: center;
}

hr {
    height: 2px;
    width: 100%;
    margin: 28px auto 30px auto;
}

#image-and-text{
    position: relative;
    overflow: hidden;
}

/* text */

#text-one h1 {
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: 120px;
    text-align: center;
}

#landing{
    fill: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 38px;
    letter-spacing: 4px;
    text-orientation: upright;
}

.text-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    letter-spacing: 10px;
}

.text-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: 4px;
    margin-bottom: 5px;
}

.text-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    line-height: 20px;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

#our-story {
    margin-left: 3%;
    margin-right: 5%;
}

#location {
    margin-left: 15%;
    margin-right: 5%;
}

footer {
    fill: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    word-spacing: 7px;
    letter-spacing: 4px;
    text-align: center;
    white-space: nowrap;
    margin-left: -105%;
    margin-right: -100%;
    margin-top: 50px;

}

a {
    color: black;
}

/* images */

svg{
    display: block;
    margin: auto;
    min-width: 560px;
    max-width: 660px;
    height: auto;
    min-height: 770px;
}

#arrow{
    /*min-width: 80px;
    max-width: 100px;*/
    width: 90px;
    overflow: hidden;
    height: 0%;
    position: fixed;
    z-index: 0;
}

#cream {
    -webkit-transform: scaleX(-1);
    left: 15%;
    min-width: 470px;
    max-width: 80%;
    margin: auto;
    position: relative;
}

#swiped-right {
    position: absolute;
    display: inline;
    top: 15%;
    left: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: transparent;
    white-space: nowrap;
}

#house-image{
    z-index: 0;
    width: 460px;
    height: 400px;
    position: relative;
    top: 120px;
}

#map{
    height: 300px;
    width: 450px;
    border: 10px solid white;
    position: relative;
    z-index: 1;
    top: -20px;
    left: 130px;
}

/* media queries */

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .container{
        display: grid;
        overflow: hidden;
        grid-template-columns: 100%;
        grid-template-rows: 600px 900px 1950px 1100px 600px 1000px 200px; /*50vh 50vh 50vh 50vh 10vh*/
        grid-template-areas:
        "celebrate"
        "landing"
        "about"
        "photo"
        "location"
        "landscapePhoto"
        "MTK";
    }

   /* #text-one{
        margin-bottom: -50%;
        margin-top: -60%;
    }*/

    #landing{
        margin-bottom: 30px;
    }

    #our-story{
        margin-left: 8%;
        margin-right: 8%;
    }

    #swiped-right{
        margin-left: 8%;
        margin-right: 8%;
    }

    #tile-one{
        margin-left: 15%;
    }

    svg{
        min-height: 970px;
    }

    #cream{
        left: 8%;
    }

    #swiped-right{
        display: none;
    }

    #location{
        margin-left: 8%;
        margin-right: 8%;
    }

    #tile-one{
        margin-left: 8%;
    }

    #house-image{
        width: 660px;
        height: 600px;
    }

    #map{
        width: 680px;
        height: 500px;
    }

    footer{
        font-size: 25px;
        margin-top: 100px
    }

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}