.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

/* #text-one{
     margin-bottom: -50%;
     margin-top: -60%;
 }*/

#landing{
    margin-bottom: 30px;
}

#our-story{
    margin-left: 8%;
    margin-right: 8%;
}

#swiped-right{
    margin-left: 8%;
    margin-right: 8%;
}

#tile-one{
    margin-left: 15%;
}

svg{
    min-height: 970px;
}

#cream{
    left: 8%;
}

#swiped-right{
    display: none;
}

#location{
    margin-left: 8%;
    margin-right: 8%;
}

#tile-one{
    margin-left: 8%;
}

#house-image{
    width: 660px;
    height: 600px;
}

#map{
    width: 680px;
    height: 500px;
}

footer{
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 45px;
}

#arrow{
    display: none;

}

#nathan-eumi{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*iphone 12 & pro*/
/* 2532x1170 pixels at 460ppi */
@media only screen
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {
    .container{
        display: grid;
        overflow: hidden;
        grid-template-columns: 100%;
        grid-template-rows: 600px 900px 1950px 1100px 600px 1000px 200px; /*50vh 50vh 50vh 50vh 10vh*/
        grid-template-areas:
        "celebrate"
        "landing"
        "about"
        "photo"
        "location"
        "landscapePhoto"
        "MTK";
    }

    /* #text-one{
         margin-bottom: -50%;
         margin-top: -60%;
     }*/

    #landing{
        margin-bottom: 30px;
    }

    #our-story{
        margin-left: 8%;
        margin-right: 8%;
    }

    #swiped-right{
        margin-left: 8%;
        margin-right: 8%;
    }

    #tile-one{
        margin-left: 15%;
    }

    svg{
        min-height: 970px;
    }

    #cream{
        left: 8%;
    }

    #swiped-right{
        display: none;
    }

    #location{
        margin-left: 8%;
        margin-right: 8%;
    }

    #tile-one{
        margin-left: 8%;
    }

    #house-image{
        width: 660px;
        height: 600px;
    }

    #map{
        width: 680px;
        height: 500px;
    }

    footer{
        font-size: 25px;
        margin-top: 100px
    }
}

@media only screen
and (device-width: 428px)
and (device-height: 926px)
and (-webkit-device-pixel-ratio: 3) {
    @media only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3) {
        .container{
            display: grid;
            overflow: hidden;
            grid-template-columns: 100%;
            grid-template-rows: 600px 900px 1950px 1100px 600px 1000px 200px; /*50vh 50vh 50vh 50vh 10vh*/
            grid-template-areas:
        "celebrate"
        "landing"
        "about"
        "photo"
        "location"
        "landscapePhoto"
        "MTK";
        }

        /* #text-one{
             margin-bottom: -50%;
             margin-top: -60%;
         }*/

        #landing{
            margin-bottom: 30px;
        }

        #our-story{
            margin-left: 8%;
            margin-right: 8%;
        }

        #swiped-right{
            margin-left: 8%;
            margin-right: 8%;
        }

        #tile-one{
            margin-left: 15%;
        }

        svg{
            min-height: 970px;
        }

        #cream{
            left: 8%;
        }

        #swiped-right{
            display: none;
        }

        #location{
            margin-left: 8%;
            margin-right: 8%;
        }

        #tile-one{
            margin-left: 8%;
        }

        #house-image{
            width: 660px;
            height: 600px;
        }

        #map{
            width: 680px;
            height: 500px;
        }

        footer{
            font-size: 25px;
            margin-top: 100px
        }
    }

    /*iphone 11 pro max */
    @media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 3) {
        .container{
            display: grid;
            overflow: hidden;
            grid-template-columns: 100%;
            grid-template-rows: 600px 900px 1950px 1100px 600px 1000px 200px; /*50vh 50vh 50vh 50vh 10vh*/
            grid-template-areas:
        "celebrate"
        "landing"
        "about"
        "photo"
        "location"
        "landscapePhoto"
        "MTK";
        }

        /* #text-one{
             margin-bottom: -50%;
             margin-top: -60%;
         }*/

        #landing{
            margin-bottom: 30px;
        }

        #our-story{
            margin-left: 8%;
            margin-right: 8%;
        }

        #swiped-right{
            margin-left: 8%;
            margin-right: 8%;
        }

        #tile-one{
            margin-left: 15%;
        }

        svg{
            min-height: 970px;
        }

        #cream{
            left: 8%;
        }

        #swiped-right{
            display: none;
        }

        #location{
            margin-left: 8%;
            margin-right: 8%;
        }

        #tile-one{
            margin-left: 8%;
        }

        #house-image{
            width: 660px;
            height: 600px;
        }

        #map{
            width: 680px;
            height: 500px;
        }

        footer{
            font-size: 25px;
            margin-top: 100px
        }
    }

    /* androids */
    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
        .container{
            display: grid;
            overflow: hidden;
            grid-template-columns: 100%;
            grid-template-rows: 600px 900px 1950px 1100px 600px 1000px 200px; /*50vh 50vh 50vh 50vh 10vh*/
            grid-template-areas:
        "celebrate"
        "landing"
        "about"
        "photo"
        "location"
        "landscapePhoto"
        "MTK";
        }

        /* #text-one{
             margin-bottom: -50%;
             margin-top: -60%;
         }*/

        #landing{
            margin-bottom: 30px;
        }

        #our-story{
            margin-left: 8%;
            margin-right: 8%;
        }

        #swiped-right{
            margin-left: 8%;
            margin-right: 8%;
        }

        #tile-one{
            margin-left: 15%;
        }

        svg{
            min-height: 970px;
        }

        #cream{
            left: 8%;
        }

        #swiped-right{
            display: none;
        }

        #location{
            margin-left: 8%;
            margin-right: 8%;
        }

        #tile-one{
            margin-left: 8%;
        }

        #house-image{
            width: 660px;
            height: 600px;
        }

        #map{
            width: 680px;
            height: 500px;
        }

        footer{
            font-size: 25px;
            margin-top: 100px
        }
    }